/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset end */

body {
    margin: 0;
    padding: 0;
}
.wrapper {
    /* max-width: 1920px; */
    width: 100%;
}
.container-fluid {
    max-width: 1600px;
}
.container-padding {
    padding-left: 12%;
    padding-right: 12%;
}
#slider {
    height: 1024px;
    max-height: 100%;
    min-height: 600px;
    position: relative;
    background-color: #555556;
    background-image: url('../img/slider.png');
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}
#slider .slider-info {
    color: white;
    /* width: 500px; */
    text-align: center;
    margin: 0 auto;
}
.action-button {
    height: 50px;
    background-color: #998675;
    padding: 15px 25px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Raleway";
    font-weight: 600;
}
header {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav {
    display: flex;
    align-items: center;
}
header nav ul.main-navigation {
    padding-top: 3px;
}
header .logo {
    display: flex;
    cursor: pointer;
    align-items: center;
}
header .logo-title {
    margin-left: 20px;
    font-family: "Raleway";
}
header nav ul.main-navigation, header nav ul.navigation-buttons {
    display: inline-flex;
}
header nav ul.navigation-buttons {
    margin-left: 25px;
}
header nav ul.navigation-buttons li:nth-child(1) a {
    width: 19px;
    height: 27px;
    display: block;
    background-image: url(../img/sprite.png);
    background-position: -25px 0px;
}
header nav ul.navigation-buttons li:nth-child(2) a {
    width: 25px;
    height: 27px;
    display: block;
    background-image: url('../img/sprite.png');
}
header nav ul li {
    padding: 0 20px;
    list-style: none;
    text-align: center;
}
header nav ul li a {
    font-family: "Montserrat";
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
}
header nav ul.main-navigation li a:hover {
    color: #c7b299;
}
header .logo .logo-title {
    color: #ffffff;
    font-size: 34px;
    line-height: 34px;
}
#slider .slider-info {
    width: 700px;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
}
#slider .slider-info .subtitle {
    font-size: 36px;
    font-family: "Raleway";
    margin-bottom: 25px;
}
#slider .slider-info .title {
    font-size: 54px;
    font-family: "Raleway";
    margin-bottom: 35px;
}
#slider .slider-info .description {
    font-size: 16px;
    font-family: "Montserrat";
    margin-bottom: 55px;
    line-height: 30px;
}
#about-us {
    background-color: #ffffff;
}
#about-us .our-services {
    margin: 0 auto;
}
#about-us .our-services ul {
    /* width: 100%; */
    display: flex;
    padding: 80px 0;
}
#about-us .our-services ul li {
    text-align: center;
    width: 25%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
#about-us .our-services ul li .title,
#about-us .our-services ul li .description, 
#about-us .our-services ul li .line {
    display: block;
}
#about-us .our-services ul li .title {
    font-size: 22px;
    margin-bottom: 25px;
    color: #555555;
    font-family: "Raleway";
}
#about-us .our-services ul li .description {
    font-size: 14px;
    line-height: 25px;
    color: #8c8c8c;
    font-family: "Montserrat";
}
#about-us .our-services ul li .line {
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
    margin-top: 30px;
}
#about-us .our-services .title {
    text-transform: capitalize;
}
#about-us .our-services .line {
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}
#about-us .realization {
    background-color: #fbfaf8;
}
.realization-content {
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
    padding-top: 90px;
}
#about-us .realization-separator {
    background: rgb(33,27,25);
    background: linear-gradient(90deg, rgba(33,27,25,1) 0%, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
}
.realization {
    background-color: #fbfaf8;
}
.realization-text {
    margin-bottom: 48px;
}
.realization .realization-text h2 {
    font-size: 30px;
    font-family: "Raleway";
    margin-bottom: 35px;
    color: #555555;
}
.realization .realization-text .realization-description {
    font-size: 16px;
    font-family: "Montserrat";
    line-height: 28px;
}
#features {
    height: 700px;
    background-image: url('../img/presentation.png');
    background-color: #998675;
}
#blog {
    /* height: 705px; */
}
#blog ul.blog-list li {
    border: 1px solid #f8f8f8;
}
.blog-item-text {
    padding: 35px 30px;
    height: 150px;
    background-color: #ffffff;
}

.blog-item-text .title {
    font-size: 20px;
    font-family: 'Raleway';
    margin-bottom: 20px;
}

.blog-item-text .description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 33px;
    color: #8c8c8c;
    font-family: 'Montserrat';
}

.blog-item-text .read-more {
    color: #c7b299;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
}

#clients {
    min-height: 500px;
    background-image: url('../img/partners-bg.png');
}
.text-upper {
    text-transform: uppercase;
}
.purchase-row {
    display: flex;
    padding-top: 42px;
    padding-bottom: 42px;
    justify-content: space-between;
}
.purchase-text .purchase-title {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 15px;
    font-family: "Raleway";
}
.purchase-text .purchase-title .purchase-name {
    color: #c7b299;
}
.purchase-text .purchase-description {
    color: #615855;
    text-transform: capitalize;
    font-size: 18px;
    font-family: "Montserrat";
}
#portfolio, #blog {
    padding-top: 90px;
    padding-bottom: 80px;
    background-color: #ffffff;
}
#portfolio .portfolio-text, #blog .blog-text {
    text-align: center;
    padding: 0 15%;
}
#portfolio .portfolio-title, #blog .blog-title {
    font-size: 30px;
    font-family: "Raleway";
    margin-bottom: 35px;
    color: #555555;
    text-transform: capitalize;
}
.portfolio-text .portfolio-description, .blog-text .blog-description {
    font-size: 16px;
    font-family: "Montserrat";
    line-height: 28px;
    margin-bottom: 45px;
    color: #8c8c8c;
}
.portfolio-buttons {
    margin-bottom: 40px;
}
.portfolio-buttons button {
    text-transform: capitalize;
    padding: 12px 20px;
    border: 1px solid #ebebeb;
    outline: none;
    font-size: 14px;
    color: #8c8c8c;
    font-family: "Montserrat";
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.portfolio-buttons button:hover {
    color: #ffffff;
    background-color: #998675;
}
#portfolio ul.portfolio-list, #blog ul.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#portfolio ul.portfolio-list li, #blog ul.blog-list li {
    width: 342px;
    height: 320px;
    background-color: #fbfaf8;
    margin-bottom: 30px;
}
#blog ul.blog-list li {
    height: initial;
}
#portfolio ul.portfolio-list {
    margin-bottom: 10px;
}
#portfolio ul.portfolio-list li .portfolio-image, #blog ul.blog-list li .blog-image {
    height: 235px;
    width: 100%;
    background-image: url('../img/portfolio_image_2.png');
}
#portfolio ul.portfolio-list li .portfolio-item-text {
    background-color: #fbfaf8;
    padding: 28px 30px 25px 30px;
}
.portfolio-item-text .title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #c7b299;
    font-family: 'Raleway';
}
.blog-item-text .title {
    color: #555555;
}
.portfolio-item-text .tags {
    font-size: 14px;
    color: #d1d1d1;
    font-family: 'Montserrat';
}
#portfolio ul.portfolio-list li:not(:last-child) {
    /* margin-right: 30px; */
}

#partners, #footer-links {
    min-height: 480px;
}

footer .links {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

footer .links ul {
    display: flex;
}

footer .links li { 
    color: #ffffff;
    padding-right: 20px;
    font-size: 13px;
    font-family: 'Raleway';
}

#partners {
    background-image: url('../img/partners-bg.png');
    /* background-size: cover; */
}

#partners .summary {
    display: flex;
    height: 480px;
    align-items: center;
    justify-content: space-between;
}

#partners .summary .col-3 {
    background-image: url('../img/sprite.png');
    background-position: 10px 10px;
    /* width: 25%; */
    margin-right: 10px;
    height: 100%;
    /* background-color: red; */
}

#partners .summary .col-3:first-child {
    background-position: -1px -75px;
    width: 223px;
    height: 170px;
}

#partners .summary .col-3:nth-child(2) {
    background-position: -220px -75px;
    width: 223px;
    height: 215px;
}

#partners .summary .col-3:nth-child(3) {
    background-position: -443px -75px;
    width: 223px;
    height: 170px;
}

#partners .summary .col-3:nth-child(4) {
    background-position: -661px -75px;
    width: 223px;
    height: 170px;
}

#footer-links {
    background-color: #191919;
}

footer {
    height: 110px;
    background-color: #111111;
}
